language: rust
before_install:
  - sudo add-apt-repository -y ppa:kalakris/cmake
  - sudo add-apt-repository -y ppa:team-xbmc/ppa
  - sudo apt-get update -qq
install:
  - sudo apt-get install libXxf86vm-dev cmake libsdl2-dev
env:
  matrix:
    - EXAMPLE=gfx_cube
    - EXAMPLE=image
    - EXAMPLE=paint
    - EXAMPLE=deform
    - EXAMPLE=user_input
    - EXAMPLE=sprite
    - EXAMPLE=freetype
script:
  - cd $EXAMPLE
  - cargo build -v
