.DS_Store
*~
*#
*.o
*.so
*.swp
*.old
*.bak
*.kate-swp
*.dylib
*.dSYM
*.dll
*.rlib
*.dummy
*.exe
*-test
/bin/gfx_cube
/bin/test-internal
/bin/test-external
/doc/
/target/
/build/
/.rust/
rusti.sh
watch.sh
/examples/**
!/examples/*.rs
!/examples/assets/
!/bin/assets/
